
RecordEdits

Define ActiveEntity { Person  Turnstile }
Define ArriveEvent { PersonArrival  TurnstileArrival }
Define LeaveEvent { PersonLeaves }
Define LogicEvent { ChooseDirection }
Define PassiveEntity { Stadium }
Define ProcessActivity { Entry  TakeSeat  TraverseSection  TraverseTime }
Define Trigger { StartChooseDirection  StartWaitForPerson  StartWaitForTurnstile }
Define WaitActivity { WaitForPerson  WaitForTurnStile }
Define DiscreteDistribution { DirectionDistribution }
Define DiscreteUniformDistribution { SectionDistribution  TurnstileDistribution }
Define ExponentialDistribution { InterarrivalTime }
Define TriangularDistribution { EntryTime }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define EntityLabel { Person_Label }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

DirectionDistribution UnitType { DimensionlessUnit }
InterarrivalTime UnitType { TimeUnit }
EntryTime UnitType { TimeUnit }

Person AttributeDefinitionList { { SeatSection  0 } { Direction  0 } { Turnstile  0 } { Gate  0 } { FirstChoice  0 } { CurrentSection  0 } }
Turnstile AttributeDefinitionList { { ID  0 } { Gate  0 } }
Stadium AttributeDefinitionList { { NumberInStadium  0 } { TurnstileList  '{}' } { NumberInSections  '{0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}' } }

Simulation Description { 'Simulation run control inputs' }

# *** ActiveEntity ***



# *** ArriveEvent ***

PersonArrival InterArrivalTime { InterarrivalTime }
PersonArrival PrototypeEntity { Person }
PersonArrival MaxNumber { 10000 }
PersonArrival NextAEJObject { WaitForTurnStile }

TurnstileArrival InterArrivalTime { 0  s }
TurnstileArrival EntitiesPerArrival {  }
TurnstileArrival MaxNumber { 80 }

# *** LeaveEvent ***


# *** LogicEvent ***


# *** PassiveEntity ***


# *** ProcessActivity ***





# *** Trigger ***




# *** WaitActivity ***



# *** DiscreteDistribution ***

DirectionDistribution RandomSeed { 2 }
DirectionDistribution ValueList { 1  -1 }
DirectionDistribution ProbabilityList { 0.5  0.5 }

# *** DiscreteUniformDistribution ***

SectionDistribution RandomSeed { 1 }
SectionDistribution MinValue { 1 }
SectionDistribution MaxValue { 24 }

TurnstileDistribution RandomSeed { 3 }
TurnstileDistribution MinValue { 1 }
TurnstileDistribution MaxValue { 80 }

# *** ExponentialDistribution ***

InterarrivalTime RandomSeed { 4 }
InterarrivalTime Mean { 0.0625  s }

# *** TriangularDistribution ***

EntryTime RandomSeed { 5 }
EntryTime MinValue { 2  s }
EntryTime MaxValue { 12  s }
EntryTime Mode { 5  s }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 1 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ModelBuilderPos { 0  103 }
Simulation ModelBuilderSize { 245  528 }
Simulation ObjectSelectorPos { 0  631 }
Simulation ObjectSelectorSize { 244  529 }
Simulation InputEditorPos { 230  909 }
Simulation InputEditorSize { 590  250 }
Simulation OutputViewerPos { 819  910 }
Simulation OutputViewerSize { 590  250 }

Person Position { -10.4  -1.4  0.0  m }
Person Alignment { 0.0  0.0  -0.5 }
Person Size { 0.5  0.5  0.5  m }

Turnstile Position { -8.4  -3.4  0.0  m }
Turnstile Alignment { 0.0  0.0  -0.5 }
Turnstile Size { 0.5  0.5  0.5  m }

PersonArrival Position { -10.5  -2.4  0.0  m }

TurnstileArrival Position { -8.5  -4.4  0.0  m }

PersonLeaves Position { -1.5  0.5  0.0  m }

ChooseDirection Position { -5.5  0.6  0.0  m }

Stadium Position { -13.5  0.6  0.0  m }

Entry Points { { -9.0  0.5  0.0  m } { -8.0  0.5  0.0  m } }

TakeSeat Points { { -3.0  0.5  0.0  m } { -2.0  0.5  0.0  m } }

TraverseSection Points { { -6.0  2.5  0.0  m } { -5.0  2.5  0.0  m } }

TraverseTime Points { { -10.1  3.6  0.0  m } { -9.1  3.6  0.0  m } }

StartChooseDirection Position { -5.5  -0.4  0.0  m }

StartWaitForPerson Position { -8.5  -2.5  0.0  m }

StartWaitForTurnstile Position { -10.5  -0.4  0.0  m }

WaitForPerson Position { -8.5  -1.4  0.0  m }

WaitForTurnStile Position { -10.5  0.5  0.0  m }

DirectionDistribution Position { -11.5  4.7  0.0  m }

SectionDistribution Position { -13.5  4.5  0.0  m }

TurnstileDistribution Position { -9.5  4.9  0.0  m }

InterarrivalTime Position { -13.5  3.3  0.0  m }

EntryTime Position { -11.5  3.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Movable { FALSE }

# *** EntityLabel ***

Person_Label Position { -0.1  -0.4  0.0  m }
Person_Label Size { 0.8  0.3  1.0  m }
Person_Label RelativeEntity { Person }
Person_Label Show { FALSE }
Person_Label TargetEntity { Person }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -2.310109  0.180548  5.733089  m }
View1 ViewPosition { -2.310109  0.180548  23.053597  m }
View1 WindowSize { 1676  807 }
View1 WindowPosition { 244  103 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
